In [3]:
import pandas as pd

In [4]:
data = pd.read_csv("data2025.csv")

In [5]:
data.head()

,Total\nSr.N0.,Total\nSr.N0..1,Total\nSr.N0..2,Total\nSr.N0..3,Total\nSr.N0..4,Total\nSr.N0..5,Total\nSr.N0..6,Total\nSr.N0..7,Total\nSr.N0..8,Total\nSr.N0..9,Total\nSr.N0..10,Total\nSr.N0..11,Total\nSr.N0..12
0,1,1,1113,11501,CAMBRIDGE HIGH SCHOOL,JEJWIN,BILASPUR,174017,9th-10th,NaN,2025-26,94188-71427,pardeepdhiman96@gmail.com
1,2,2,1002,11502,SARSWATI VIDYA MANDIR,AUHAR,BILASPUR,174024,9th-10th (C ),NaN,2025-26,"94599-24008,98171-44320",svmauhar9@gmail.com
2,3,3,1107,11505,SARSWATI VIDYA MANDIR\nHIGH SCHOOL,HATWAR,BILASPUR,174028,9th-10th (C ),NaN,2025-26,"88946-58735,94592-\n97036,01978-252930",svmhatwar1950@gmail.com
3,4,4,1135,11506,NAV LOK ADARSH VIDYALYA,KHANSARA,BILASPUR,174026,9th-10th (C ),NaN,2025-26,"94180-49929,94184-\n45064,70188-75830",navalok1993@gmail.com
4,5,5,1117,11507,ALPHA PUBLIC HIGH\nSCHOOL,JHANDUTTA,BILASPUR,174031,9th-10th (C ),NaN,2025-26,96255-37444,alphaphsjhandutta@gmail.com

In [6]:
data.columns = [
    "Sr.No",
    "S.Wise",
    "School_Code",
    "Affiliation_Code",
    "Name_of_the_Institute",
    "Station",
    "District",
    "PIN",
    "Class",
    "Temporary",
    "Session",
    "Contact_No",
    "Email"
]

In [7]:
data.head()

,Sr.No,S.Wise,School_Code,Affiliation_Code,Name_of_the_Institute,Station,District,PIN,Class,Temporary,Session,Contact_No,Email
0,1,1,1113,11501,CAMBRIDGE HIGH SCHOOL,JEJWIN,BILASPUR,174017,9th-10th,NaN,2025-26,94188-71427,pardeepdhiman96@gmail.com
1,2,2,1002,11502,SARSWATI VIDYA MANDIR,AUHAR,BILASPUR,174024,9th-10th (C ),NaN,2025-26,"94599-24008,98171-44320",svmauhar9@gmail.com
2,3,3,1107,11505,SARSWATI VIDYA MANDIR\nHIGH SCHOOL,HATWAR,BILASPUR,174028,9th-10th (C ),NaN,2025-26,"88946-58735,94592-\n97036,01978-252930",svmhatwar1950@gmail.com
3,4,4,1135,11506,NAV LOK ADARSH VIDYALYA,KHANSARA,BILASPUR,174026,9th-10th (C ),NaN,2025-26,"94180-49929,94184-\n45064,70188-75830",navalok1993@gmail.com
4,5,5,1117,11507,ALPHA PUBLIC HIGH\nSCHOOL,JHANDUTTA,BILASPUR,174031,9th-10th (C ),NaN,2025-26,96255-37444,alphaphsjhandutta@gmail.com

In [8]:
data = data.drop(index=0)

In [7]:
data.head()

,Sr.No,S.Wise,School_Code,Affiliation_Code,Name_of_the_Institute,Station,District,PIN,Class,Temporary,Session,Contact_No,Email
1,2,2,1002,11502,SARSWATI VIDYA MANDIR,AUHAR,BILASPUR,174024,9th-10th (C ),NaN,2025-26,"94599-24008,98171-44320",svmauhar9@gmail.com
2,3,3,1107,11505,SARSWATI VIDYA MANDIR\nHIGH SCHOOL,HATWAR,BILASPUR,174028,9th-10th (C ),NaN,2025-26,"88946-58735,94592-\n97036,01978-252930",svmhatwar1950@gmail.com
3,4,4,1135,11506,NAV LOK ADARSH VIDYALYA,KHANSARA,BILASPUR,174026,9th-10th (C ),NaN,2025-26,"94180-49929,94184-\n45064,70188-75830",navalok1993@gmail.com
4,5,5,1117,11507,ALPHA PUBLIC HIGH\nSCHOOL,JHANDUTTA,BILASPUR,174031,9th-10th (C ),NaN,2025-26,96255-37444,alphaphsjhandutta@gmail.com
5,6,6,1188,11509,SARSWATI VIDYA MANDIR\nHIGH SCHOOL,RISHIKESH,BILASPUR,174024,9th-10th,NaN,2025-26,"94182-56176, 98166-09114",svmrishikesh1986@gmail.com

In [8]:
data = data.drop(columns=["S.Wise","Temporary", "Session"])

In [9]:
data.head()

,Sr.No,School_Code,Affiliation_Code,Name_of_the_Institute,Station,District,PIN,Class,Contact_No,Email
1,2,1002,11502,SARSWATI VIDYA MANDIR,AUHAR,BILASPUR,174024,9th-10th (C ),"94599-24008,98171-44320",svmauhar9@gmail.com
2,3,1107,11505,SARSWATI VIDYA MANDIR\nHIGH SCHOOL,HATWAR,BILASPUR,174028,9th-10th (C ),"88946-58735,94592-\n97036,01978-252930",svmhatwar1950@gmail.com
3,4,1135,11506,NAV LOK ADARSH VIDYALYA,KHANSARA,BILASPUR,174026,9th-10th (C ),"94180-49929,94184-\n45064,70188-75830",navalok1993@gmail.com
4,5,1117,11507,ALPHA PUBLIC HIGH\nSCHOOL,JHANDUTTA,BILASPUR,174031,9th-10th (C ),96255-37444,alphaphsjhandutta@gmail.com
5,6,1188,11509,SARSWATI VIDYA MANDIR\nHIGH SCHOOL,RISHIKESH,BILASPUR,174024,9th-10th,"94182-56176, 98166-09114",svmrishikesh1986@gmail.com

In [10]:
data["Class"].value_counts()

Class
9th-10th                                         408
9th-10th (C )                                    130
9th-10th (c )                                     71
9th-+2(Arts/Sci/Comm)                             49
9th-10th  (C )                                    24
                                                ...
9th-+2(Arts/Sci/Com.)                              1
9th-+2(Sci) )                                      1
11th-12th (Arts/Sci/Comm)\n)                       1
9th-+2  (Arts/Comm)                                1
9th-10th Permanent &11th-\n12th (Sci) Renewal      1
Name: count, Length: 207, dtype: int64

In [11]:
data.shape

(1179, 10)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1179 entries, 1 to 1179
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr.No                  1179 non-null   object
 1   School_Code            1176 non-null   object
 2   Affiliation_Code       1167 non-null   object
 3   Name_of_the_Institute  1176 non-null   object
 4   Station                1176 non-null   object
 5   District               1176 non-null   object
 6   PIN                    1173 non-null   object
 7   Class                  1176 non-null   object
 8   Contact_No             1174 non-null   object
 9   Email                  1167 non-null   object
dtypes: object(10)
memory usage: 92.2+ KB

In [13]:
data = data[data["Class"].str.strip().str.lower() != "9th-10th"]

In [14]:
data = data[data["Class"].str.strip().str.lower() != "9th-10th (C )"]

In [15]:
data = data[data["Class"].str.strip().str.lower() != "9th-10th (c )"]

In [16]:
data = data[data["Class"].str.strip().str.lower() != "9th-10th  (C )"]

In [17]:
data = data[data["Class"].str.strip().str.lower() != "9th-+2(Arts)"]

In [18]:
data = data[data["Class"].str.strip().str.lower() != "9th - 10th"]

In [19]:
data.head()

,Sr.No,School_Code,Affiliation_Code,Name_of_the_Institute,Station,District,PIN,Class,Contact_No,Email
37,38,1044,11703,ARYAN PUBLIC SCHOOL,BILASPUR,BILASPUR,174001,9th-+2(Sci.),"01978-221863, 98172-00073,\n94181-07622",Principalaryanblp@yahoo.com
38,39,1045,11706,CRESCENT PUBLIC\nSR.SEC.SCHOOL,BILASPUR,BILASPUR,174001,9th-+2(Sci.) (c ),"98173-57901,01978-221660,\n94180-41606",cpsblp@gmail.com
39,40,1099,11707,MINERVA SR.SEC. SCHOOL,GHUMARWIN,BILASPUR,174021,9th-+2(Sci.) (c ),"94182-12885, 01978-255616",parvesh3791@gmail.com
40,41,1100,11708,VISION CONVENT SCHOOL,GHUMARWIN,BILASPUR,174021,9th-+2(Arts/Sci/Comm),"94180-12324, 01978-256789",visionconventschool@gmail.com
42,43,1028,11711,JYOTI PUBLIC\nSR.SEC.SCHOOL,BERTHIN,BILASPUR,174029,9th-+2(Sci.) (c ),", 82191-76165",Jyotischool94@gmail.com

In [20]:
data.shape

(544, 10)

In [38]:
data = data[data["Class"].str.strip().str.lower() != "9th-10th )"]

In [39]:
data = data[data["Class"].str.strip().str.lower() != "9th - 10th (c )"]

In [40]:
data["District"].value_counts()

District
KANGRA      127
MANDI        94
HAMIRPUR     63
SHIMLA       48
SOLAN        40
UNA          35
KULLU        34
BILASPUR     32
SIRMOUR      25
CHAMBA       21
KINNAUR       7
DISTRICT      3
Name: count, dtype: int64

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532 entries, 37 to 1179
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr.No                  532 non-null    object
 1   School_Code            529 non-null    object
 2   Affiliation_Code       527 non-null    object
 3   Name_of_the_Institute  529 non-null    object
 4   Station                529 non-null    object
 5   District               529 non-null    object
 6   PIN                    528 non-null    object
 7   Class                  529 non-null    object
 8   Contact_No             528 non-null    object
 9   Email                  524 non-null    object
dtypes: object(10)
memory usage: 45.7+ KB

In [42]:
data.head()

,Sr.No,School_Code,Affiliation_Code,Name_of_the_Institute,Station,District,PIN,Class,Contact_No,Email
37,38,1044,11703,ARYAN PUBLIC SCHOOL,BILASPUR,BILASPUR,174001,9th-+2(Sci.),"01978-221863, 98172-00073,\n94181-07622",Principalaryanblp@yahoo.com
38,39,1045,11706,CRESCENT PUBLIC\nSR.SEC.SCHOOL,BILASPUR,BILASPUR,174001,9th-+2(Sci.) (c ),"98173-57901,01978-221660,\n94180-41606",cpsblp@gmail.com
39,40,1099,11707,MINERVA SR.SEC. SCHOOL,GHUMARWIN,BILASPUR,174021,9th-+2(Sci.) (c ),"94182-12885, 01978-255616",parvesh3791@gmail.com
40,41,1100,11708,VISION CONVENT SCHOOL,GHUMARWIN,BILASPUR,174021,9th-+2(Arts/Sci/Comm),"94180-12324, 01978-256789",visionconventschool@gmail.com
42,43,1028,11711,JYOTI PUBLIC\nSR.SEC.SCHOOL,BERTHIN,BILASPUR,174029,9th-+2(Sci.) (c ),", 82191-76165",Jyotischool94@gmail.com

In [43]:
Kangra = data[data["District"]=="KANGRA"]

In [44]:
Kangra.head()

,Sr.No,School_Code,Affiliation_Code,Name_of_the_Institute,Station,District,PIN,Class,Contact_No,Email
374,375,1914,17001,SMT. I.G.M.P\nSR.SEC.SCHOOL,DEHRA,KANGRA,177101,9th-+2(Arts/Sci/Comm),"01970-233434,98164-68746",igmpdchooldhera@gmail.com
375,376,1769,17002,GURUKUL PUBLIC\nSR.SEC.SCHOOL,BAIJNATH,KANGRA,176125,9th-+2(Arts/Sci/Comm),"01894-262882, 94180-56446",principal.gurukul93@gmail.com
376,377,1767,17003,AMBIKA PUBLIC SR.SEC.SCHOOL GANESH\nBAZAR,BAIJNATH,KANGRA,176125,9th-+2(Arts/Comm),"01894-263756,94183-55058",aps.baijnath@gmail.com
378,379,2362,17008,HANS RAJ MEMO.MODEL\nSR.SEC.SCHOOL,REHAN,KANGRA,176022,9th-+2(Arts/Sci/Comm),"01893-252469, 94184-92469",ramverma41@gmail.com
379,380,1789,17009,MODREN PUBLIC\nSR.SEC.SCHOOL,BANURI,KANGRA,176061,9th-+2(Arts/Comm),"01894-233055,98163-81573,",mpsbanuri@gmail.com

In [45]:
Kangra.shape

(127, 10)

In [46]:
mandi = data[data["District"]=="MANDI"]

In [47]:
hamirpur = data[data["District"]=="HAMIRPUR"]

In [48]:
shimla = data[data["District"]=="SHIMLA"]

In [49]:
solan= data[data["District"]=="SOLAN"]

In [50]:
una = data[data["District"]=="UNA"]

In [51]:
kullu = data[data["District"]=="KULLU"]

In [52]:
bilaspur = data[data["District"]=="BILASPUR"]

In [9]:
sirmour = data[data["District"]=="SIRMOUR"]

In [54]:
chamba = data[data["District"]=="CHAMBA"]

In [55]:
Kangra.to_excel("Kangra.xlsx", index=False)

In [56]:
mandi.to_excel("mandi.xlsx", index=False)
hamirpur.to_excel("hamirpur.xlsx", index=False)
shimla.to_excel("shimla.xlsx", index=False)
solan.to_excel("solan.xlsx", index=False)
una.to_excel("una.xlsx", index=False)
kullu.to_excel("kullu.xlsx", index=False)
bilaspur.to_excel("bilaspur.xlsx", index=False)
sirmour.to_excel("sirmour.xlsx", index=False)
chamba.to_excel("chamba.xlsx", index=False)